/*
sidebar width 321px 23%
screen width 14440px
main width 1119px 77%
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}
.contents {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
}

.sidebar {
  width: 23%;
  height: 100%;
  margin: 0px;
  border: 2px solid black;
}

.main {
  width: 77%;
  height: 100%;
  margin: 0px;
}
