/*
sidebar width 321px 23%
screen width 14440px
main width 1119px 77%
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins";
    margin: 0px;
    font-size: 0.9rem;
}

html {
    width: 100vw;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000;
    text-align: start;
    font-size: 2rem;
    font-family: Poppins;
    font-weight: 600;
}
h2 {
    color: #000;
    font-size: 1.25rem;
    font-family: Poppins;
    font-weight: 600;
}

h4 {
    color: #808080;
    font-size: 0.875rem;
    font-family: Poppins;
    font-weight: 500;
}
body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    height: 100%;
    max-width: 100%;
}
.contents {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0px;
}

.sidebar {
    position: fixed;
    width: 23%;
    height: 100%;
    margin: 0px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
}

.sidebar img {
    margin-top: 56px;
    width: 167px;
    height: 49px;
}

.main {
    width: 77%;
    height: 100%;
    margin-left: 23%;
}

.userprofile {
    display: flex;
    width: auto;
    align-items: center;
    margin-top: 56px;
    height: auto;
    justify-content: start;
}

.userprofile img {
    margin: 0px;
    margin-right: 20px;

    width: 60px;
    height: 60px;
}

hr {
    width: 100%;
    background-color: grey;
    border: none;
    border-radius: 1px;
    height: 2px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(239, 248, 255);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 10px;
}

.item:hover {
    background-color: deepskyblue;
    opacity: 0.75;
}
.item:active {
    opacity: 0.5;
}
.item .icon {
    margin-top: 0px;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.redirect-home {
    margin-top: 20px;
    cursor: pointer;
}

.info-section {
    margin-left: 77px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    float: left;
    margin-right: 40px;
    cursor: pointer;
    color: #d9d9d9;
    font-weight: 600;
}

.focus {
    color: black;
}

.search-bar {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 0px 11px 13px;
    border-radius: 5px;
}

.table-info {
    width: 100%;
}

th {
    font-weight: 500;
    text-align: start;
}

.status {
    padding: 3px 17px 3px 17px;

    border-radius: 5px;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preparing {
    background-color: #ff9533;
}
.completed {
    background-color: #4ca876;
}

.canceled {
    background-color: #e73232;
}

.more-info td {
    background-color: red;
    height: 100%;
}

.row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.print-menu-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.arrow {
    width: 19px;
    height: 19px;
    margin-right: 6px;
    cursor: pointer;
    transition: all 1s;
}
.arrow:hover {
    width: 25px;
    margin-right: 0px;
    height: 25px;
}

.profile-info {
    display: flex;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-credentials {
    margin-left: 20px;
}

.profile-image {
    clip-path: circle();
    width: 60px;
    height: 60px;
}
.main-data {
    margin-top: 10px;
}

.update-time {
    border-radius: 10px;
    background: #d9d9d9;
    width: 7.5rem;
    height: 2.5rem;
    border: none;
    color: white;
}

.main-section {
    width: 90%;
}
table td {
    padding-right: 30px;
    padding-top: 10px;
}

.buttons {
    display: flex;
    width: 100%;
}

.information-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

textarea {
    width: 80%;
    height: 15%;
    background: #ffffff;
    border: 1px solid #000000;
    padding-left: 5px;
    resize: none;
    border-radius: 5px;
}
.update-time-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.file-details {
    display: flex;
    width: 32rem;
    height: 90%;
    margin-left: 40px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
}
.print-menu-button {
    width: 120px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #1957ab;
    background: #fff;
    margin: 0px 0 10px 0;
}

.menu-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.print-menu {
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 24px;
}

.menu-row img {
    width: 24px;
    height: 22px;
}

.file-row {
    display: flex;
    margin: 10px 0 10px 0;
}

.button-column {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.back {
    background-color: #d9d9d9;
    max-height: 40px;
    width: 12.125rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.back:hover {
    background-color: #b9b9b9;
}
h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}
.button-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.estimated-time {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 60%;
    margin-left: 20px;
    height: 40px;
    text-align: center;
}

.button-column button {
    margin-top: 10px;
    width: 110px;
    height: 33px;
    background: #ffffff;
    border: 2px solid #1957ab;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.button-column button:hover {
    background-color: grey;
    color: white;
    opacity: 0.75;
}

.deliver-button {
    width: 120px;
    height: 40px;
    border: none;
    color: white;
    background: #d9d9d9;
    border-radius: 10px;
}

.time-row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.row-button {
    display: flex;
    width: 80%;
    margin-top: 20px;
    justify-content: flex-end;
}

.row-button button {
    margin-left: 20px;
}

.update-button-row {
    display: flex;
    width: 100%;
    justify-content: end;
}

.update-order-button {
    width: 7.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1957ab;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.25s;
}

.update-order-button:hover {
    opacity: 0.5;
}

.cancel {
    background-color: #e73232;
    margin-right: 20px;
}

.column {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.column-data {
    margin-top: 30px;
}

.complete {
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    background: #1957ab;
    border-radius: 10px;
    cursor: pointer;
}

.deliver-button {
    margin-left: 10px;
    transition: all 0.25s;
    cursor: pointer;
}
.deliver-button:hover {
    background-color: teal;
}
