@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

.navitem {
    padding: 2% 8% 15px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    text-align: right;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

.becomePrinTEXer {
    width: 250px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 25px;
    border: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.profile {
    width: 50px;
    clip-path: circle();
    cursor: pointer;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-item {
    height: 120px;
    width: 120px;
    background: #1957ab;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-icon {
    width: 50px;
}

.grid-text {
    padding-top: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.column-sectioninfo {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-sectioninfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-icon {
    max-width: 50px;
    max-height: 50px;
}

.section-text {
    padding-left: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}

.column-tracking {
    width: 74%;
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fafafa;
    border: 2px solid #d9d9d9;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.table-trackingorder {
    width: 100%;
    text-align: center;
    background-color: transparent;
}

td {
    background-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.orderstatus {
    border-radius: 5px;
    color: white;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preparing {
    background-color: #ff9533;
}

.delivering {
    background-color: #4ca876;
}

.completed {
    background-color: #1957ab;
}

.canceled {
    background-color: #e73232;
}

.table-row {
    height: 50px;
}

.viewdetails {
    cursor: pointer;
}
.viewdetails:hover {
    background-color: #1957ab;
}
