@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

.navitem {
    padding: 2% 8% 15px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    text-align: right;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

.becomePrinTEXer {
    width: 250px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 25px;
    border: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.profilepic {
    width: 50px;
    cursor: pointer;
    clip-path: circle();
    height: 100%;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-item {
    height: 120px;
    width: 120px;
    background: #d9d9d9;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-icon {
    width: 50px;
}

.grid-text {
    padding-top: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.column-sectioninfo {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-sectioninfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-icon {
    max-width: 50px;
    max-height: 50px;
}

.section-text {
    padding-left: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}

.row-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10%;
}

.column-order1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
    border: 2px solid #808080;
    border-radius: 20px;
    width: 34%;
    height: 75em;
    margin: 2%;
}

.inner-column-order1 {
    margin: 5%;
    height: 100%;
}

.uploadfile {
    width: 100%;
    height: 8%;
    background: #ffffff;
    border: 1px dashed #d9d9d9;
    border-radius: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #808080;
    margin-bottom: 5%;
}

.dropdownmenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdownmenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
    transition: all 0.5s;
}

.dropdownmenu a:hover {
    background-color: #cecece;
}

.dropdownmenu a:active {
    background-color: #adadad;
}
.show {
    display: block;
}

.column-order2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30%;
    margin: 2%;
}

.column-order2-suborder1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30%;
    padding: 7%;
    background: #fafafa;
    border: 2px solid #808080;
    border-radius: 20px;
}

.column-order2-suborder2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #fafafa;
    border: 2px solid #808080;
    border-radius: 20px;
    height: 40%;
    padding: 7%;
    margin-top: 8%;
}

.grid-container-order {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 10px;
}

.grid-order {
    height: 100px;
    width: 100px;
    background: #f0efef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: #808080;
}

.grid-order:hover {
    background-color: #1957ab;
    color: #ffffff;
}

h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

h2 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.order-copies,
.order-papersize {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.order-copies-input,
.order-papersize-input {
    margin-left: 6%;
    text-align: center;
    width: 100px;
    height: 28px;
    background: #f0efef;
    border-radius: 10px;
    border-color: #f0efef;
    border-width: 2px;
}

.order-copies-input:hover,
.order-papersize-input:hover {
    background-color: #1957ab;
    color: white;
}

.remark-textarea {
    resize: none;
    background: #f0f0f0;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
    float: left;
    padding: 2%;
    width: 96%;
    min-height: 80px;
}

.done-order {
    align-self: center;
    margin: 3%;
    width: 50%;
    height: 60px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    background-color: #1957ab;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 10%;
    cursor: pointer;
}

.done-order:hover {
    background-color: green;
}

.headerdelivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editSP {
    width: 12%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.editSP:hover {
    background-color: #000000;
    color: white;
}

.row-SPinfo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 3%;
}

.column-SPinfo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 4%;
}

.SPname {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.SPphone {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.table-deliveryinfo {
    padding-top: 1%;
    padding-bottom: 1%;
}

.type-deliveryinfo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.content-deliveryinfo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.deliveryinfobtn {
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 10px;
    height: 25%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    color: #808080;
}

.container-orderdetails {
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
}

.title-order {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
}

.details-order {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.table-calculateorder {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.box-totalpages,
.box-pricepersheet,
.totalprice {
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    width: 14%;
}

.timessign,
.equalsign {
    width: 7%;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}

.tagorder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}

.row-totalprice {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkout-order {
    width: 80%;
    height: 50px;
    background: #1957ab;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    border: 0px;
    cursor: pointer;
}

.checkout-order:hover {
    background-color: green;
}

.checkoutsection {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected {
    background-color: #1957ab;
    color: white;
}

.chooseSP {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
