@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

.navitem {
    padding: 2% 8% 15px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    text-align: right;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

.becomePrinTEXer {
    width: 250px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 25px;
    border: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.profile {
    width: 50px;
    cursor: pointer;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-item {
    height: 120px;
    width: 120px;
    background: #1957AB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-icon {
    width: 50px;
}

.grid-text {
    padding-top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.column-sectioninfo {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-sectioninfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-icon {
    max-width: 50px;
    max-height: 50px;
}

.section-text {
    padding-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
}


.contents {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0px;
}

.sidebar {
    width: 23%;
    height: 100%;
    margin: 0px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar img {
    margin-top: 56px;
    width: 167px;
    height: 49px;
}

.main {
    width: 90%;
    height: 100%;
    margin: 5%;
}

.userprofile {
    display: flex;
    width: auto;
    align-items: center;
    margin-top: 56px;
    height: auto;
    justify-content: start;
}

.userprofile img {
    margin: 0px;
    margin-right: 20px;

    width: 60px;
    height: 60px;
}

hr {
    width: 100%;
    background-color: grey;
    border: none;
    border-radius: 1px;
    height: 2px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(239, 248, 255);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 10px;
}

.item:hover {
    background-color: deepskyblue;
    opacity: 0.75;
}
.item:active {
    opacity: 0.5;
}
.item .icon {
    margin-top: 0px;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.redirect-home {
    margin-top: 20px;
    cursor: pointer;
}

.info-section {
    margin-left: 77px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    float: left;
    margin-right: 40px;
    cursor: pointer;
    color: #d9d9d9;
    font-weight: 600;
}

.focus {
    color: black;
}

.search-bar {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 0px 11px 13px;
    border-radius: 5px;
    
}

.table-section {
    margin-top: 30px;
}

th {
    font-weight: 500;
    text-align: start;
}

.status {
    padding: 3px 17px 3px 17px;

    border-radius: 5px;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preparing {
    background-color: #ff9533;
}
.completed {
    background-color: #4ca876;
}

.canceled {
    background-color: #e73232;
}

.more-info td {
    background-color: red;
    height: 100%;
}

.row {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 19px;
    height: 19px;
    margin-right: 6px;
    cursor: pointer;
    transition: all 1s;
}
.arrow:hover {
    width: 25px;
    margin-right: 0px;
    height: 25px;
}

.profile-info {
    display: flex;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-credentials {
    margin-left: 20px;
}

.profile-image {
    clip-path: circle();
    width: 60px;
    height: 60px;
}
